<li>
  <%= f.object.question.content %>
</li>
<br>
<% if f.object.question.single? %>
  <% f.object.question.answers.each do |answer| %>
    <%= f.radio_button :answer, answer.id,
      {checked: f.object.answer.include?(answer.id.to_s), multiple: true} %>
    <%= answer.content %></br>
  <% end %>
<% elsif f.object.question.multiple? %>
  <% f.object.question.answers.each do |answer| %>
    <%= f.check_box :answer, {checked: f.object.answer.include?(answer.id.to_s),
      multiple: true}, answer.id, false %>
    <%= answer.content %></br>
  <% end %>
<% end %>
<br>
